---
title: "Hi, L!"
date: "16-02-2025"
day: "February 10 2024"
description: "My second blog post using mdsvex."
featured: true
categories: ["Development"]
tag: ["Svelte", "JavaScript", "Web Dev"]
---

# Welcome to My Blog
Gotha gomala
