---
title: "How I wanted to be"
date: "16-02-2025"
day: "February 10 2024"
description: "My poem."
categories: ["Poetry"]
tag: ["Nature", "Life", "Inspiration"]
---

Oh **bold** *italic* ~~strikethrough~~

what 
