// File contains general styling and themes and alla that

/*Font imports*/
@use 'reset';
@use 'variables';

$font-primary: 'DM Sans', sans-serif;
$font-mono: 'DM Mono', monospace;
@use 'type/monospace';
@use 'type/serif';
@use 'type/sans';
@use 'type/typeStyles';

// Theme Variables
:root {
  --bg-color: #1A2A4A;
  --text-color: #FAF1E6;
  --accent-color: #A23E48;
}

[data-theme="light"] {
  --bg-color: #FAF1E6;
  --text-color: #1A2A4A;
  --accent-color: #8B5E3B;
}


*{
  font-family: $font-primary;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
  max-width: 1024px;
  margin: 0 auto;
  transition: 350ms ease-in;
  transition-property: color, background-color;
}
pre {
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}

code {
  font-size: 14px;
}
