// File contains general styling and themes and alla that
pre {
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}
