// File contains general styling and themes and alla that

/*Font imports*/
@use 'reset';
@use 'variables';
@use 'type/monospace';
@use 'type/serif';
@use 'type/sans';
@use 'type/typeStyles';

pre {
  background-color: #1e1e1e;
  padding: 16px;
  border-radius: 8px;
  overflow-x: auto;
}

code {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}
