
code{
    font-family: "DM mono";
    font-size: 16px;
}

 .poem{
    font-family: "Lora", sans-serif;
    font-size: 16px;
    color: inherit;
}

a{
    color: inherit;
    text-decoration: none;
}

:root {

  /* Typography scale (Golden Ratio) */
  --font-small: 0.850rem;  /* 12.8px */
  --font-body: 1rem;       /* 16px */      /* 16px */
  --font-lead: 1.125rem;   /* 18px */
  --font-h6: 1.25rem;      /* 20px */
  --font-h5: 1.562rem;     /* 25px */
  --font-h4: 1.953rem;         /* 31.25px */
  --font-h3: 2.441rem;     /* 39px */
  --font-h2: 3.052rem;      /* 48px */
  --font-h1: 3.815rem;      /* 61px */
  --font-logo: 45px;

  /* Font choices */
  --font-serif: "Lora", serif;
  --font-sans: "DM sans", sans-serif;
  --font-mono: "DM Mono", "Fira Code", monospace;
}

/* Light Theme */
body {
  background-color: var(--light-bg);
  color: var(--light-text);
  font-family: var(--font-sans);
  font-size: var(--font-body);
  line-height: 1.6;
}

/* Dark Theme */
body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

/* Typography Styles */
h1 { font-size: var(--font-h1); font-weight: 300; }
h2 { font-size: var(--font-h2); font-weight: 400; }
h3 { font-size: var(--font-h3); font-weight: 500; }
h4 { font-size: var(--font-h4); font-weight: 400; }
h5 { font-size: var(--font-h5); font-weight: 500; }
h6 { font-size: var(--font-h6); font-weight: 600; }
p { font-size: var(--font-body); }
small { font-size: var(--font-small); }

/* Monospace Blocks */
code, pre {
  font-family: var(--font-mono);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 4px 6px;
  border-radius: 4px;
}

body{
  font-size: var(--font-body);
  font-weight: 400;
}
